{
	"plugins": [
		"jest"
	],
	"env": {
		"browser": true,
		"node": true,
		"jest": true,
		"es2020": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2020,
		"requireConfigFile": false
	},
	"extends": [
		"eslint:recommended",
		"plugin:@wordpress/eslint-plugin/recommended"
	],
	"rules": {
		"no-unused-vars": [ "error", { "args": "after-used", "argsIgnorePattern": "^_" }]
	}
}

